@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  background-color: black;
  color: white;
  cursor: none;
}

.card {
  background: linear-gradient(
    145deg,
    rgba(0, 0, 0, 0.278),
    rgba(44, 9, 94, 0.632)
  );
  border: 1px solid rgba(255, 255, 255, 0.191);
  border-radius: 24px;
  padding: 1rem;
  transition: transform 0.3s ease, border-color 0.3s ease box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}
.bento-grid {
  position: relative;
  display: grid;
  height: 90vh;
  width: 90%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "intro intro tech" "time passion tech";
  gap: 1.5rem;
}

.intro {
  grid-area: intro;
  min-height: 300px;
  display: flex;
  
}
.tech {
  grid-area: tech;
  min-height: 450px;
}
.time {
  grid-area: time;
  min-height: 220px;
}
.passion {
  grid-area: passion;
  min-height: 220px;
}

.card:hover {
  border-color: transparent;
  box-shadow: 0, 10px 30px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

.card::before {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  background: radial-gradient(
    circle at rgba(93, 62, 99, 0.174),
    rgba(124, 233, 230, 0.1),
    transparent 40%
  );
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}
.card:hover::before {
  opacity: 1;
}
